* {
    padding: 0;
    margin: 0;
}

.body {
    font-family: 'Lato', sans-serif;
}

.header {
    background: #222222;
    display: flex;
    justify-content: space-between;
}

.header_logo {
    padding-top: 18px;
    padding-bottom: 19px;
    padding-left: 231px;

    display: flex;
    gap: 41px;
}

.button_copy {
    padding-top: 26px;
    padding-bottom: 20px;
    padding-right: 240px;

    display: flex;
    gap: 33px;
    justify-content: flex-end;
}

.top_content {
    display: flex;
    align-items: center;
    background: #F1E4E6;
    margin-bottom: 65px;

}

.rectangle {
    padding-left: 63px;
    padding-right: 16px;
}

.brand_title {
    padding-right: 331px;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;

    color: #222222;
}
.color_text {
    color: #F16D7F;
}

.big_text {
    font-size: 24px;
}

.block_offer {
    margin-left: 230px;
    margin-right: 230px;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.item {
    position: relative;
    text-align: center;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;

}

.products_title {
    margin-top: 96px;
}

.fetured_items {
    display: flex;
    justify-content: center;

    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */


color: #222222;
}

.items_text {
    display: flex;
    justify-content: center;
    padding-bottom: 57px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


color: #9F9F9F;
}

.products_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.products {
    margin-left: 230px;
    margin-right: 230px;
    
}

.product {
    max-width: 360px;
}

.title_price {
    padding-left: 16px;
    padding-bottom: 19px;
    max-width: 360px;
}

.product_title {
    padding-bottom: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    color: #000000;
    
}

.product_text {
    padding-right: 29px;
    padding-bottom: 16px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    color: #5D5D5D;
}

.price {
    color: #F16D7F;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px; 
}

.button {
    display: flex;
    justify-content: center;
}

.content_button {
    border: 1px solid #FF6A6A;
    width: 211px;
    height: 47px;
    margin-top: 42px;
    margin-bottom: 61px;
}

.button_text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #F26376;
}